<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/img/student.png">

    <!-- Bootstrap -->
    <!--link href="/css/bootstrap/bootstrap.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond/respond.min.js"></script>
    <![endif]-->

    <title>{% block title %}{% end %}</title>
</head>
<body>

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img alt="onStudy" src="/static/img/student.png">
            onStudy
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

        <li class="nav-item dropdown">
            {% if current_user %}
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Study<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="/study/live">Live lessons</a></li>
                <li><a class="nav-link" href="/study/find">Find course</a></li>
                <li><a class="nav-link" href="/study/manage">Manage courses</a></li>
                <li><a class="nav-link" href="/study/invite">My Invites</a></li>
            </ul>
            {% else %}
            <a class="nav-link" href="/study/live">Live lessons</a>
            {% end %}
        </li>
        {% if current_user %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teach <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="/teach">Manage courses</a></li>
            <li><a class="nav-link" href="/teach/create">Create courses</a></li>
          </ul>
        </li>
        {% end %}
        <li><a class="nav-link" href="/about">About</a></li>

        {% if False %} FIXME: Alex, please, delete this:
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chats <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Active chats</a></li>
            <li><a href="#">+Create chat</a></li>
          </ul>
        </li>
        {% end %}
        </ul>

        <form class="form-inline my-2 my-lg-0 mr-3">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% if current_user %}
            Hello, {{ current_user }}
            <div><a href="/auth/logout" class="nav-link">logout</a></div>
        {% else %}
            <div><a href="/auth/login" class="nav-link">login</a></div>
        {% end %}

      </div>
    </div>
</nav>
{% end %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script-- type="text/javascript" src="/js/bootstrap/bootstrap.js"></script-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div id="content" class="{% block content_class %}{% end %}">
        {% block content %}
        {% end %}

        <hr>

        <div class="container">
            <footer>
                <p>&copy; onStudy 2018</p>
            </footer>
        </div>
    </div>


</body>
</html>