<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/img/student.png">

    <!-- Bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond/respond.min.js"></script>
    <![endif]-->

    <title>{% block title %}{% end %}</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            
          <img src="/static/img/student.png" class="float-left">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">onStudy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">

                {% if current_user %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Study<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/study/live">Live Open lesson!</a></li>
                    <li><a href="/study/find">Find My Course!</a></li>
                    <li><a href="/study/manage">Registered Courses</a></li>
                    <li><a href="/study/invite">My Invites</a></li>
                </ul>
                {% else %}
                <a href="/study/live">Live Open lesson!</a>
                {% end %}

            </li>
            {% if current_user %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My courses <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/course">Manage courses</a></li>
                <li><a href="/course/create">Create courses</a></li>
              </ul>
            </li>
            {% end %}
            <li><a href="/about">About</a></li>

            {% if False %} FIXME: Alex, please, delete this:
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chats <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Active chats</a></li>
                <li><a href="#">+Create chat</a></li>
              </ul>
            </li>
            {% end %}

          </ul>
            <div class="nav navbar-nav navbar-right nav-line-vcentered">
                <div>
                {% if current_user %}
                    Hello, {{ current_user }}
                    <div><a href="/auth/logout" class="btn btn-success">logout</a></div>
                {% else %}
                    <div><a href="/auth/login" class="btn btn-success">login</a></div>
                {% end %}
                </div>
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>

    <div id="content">
        {% block content %}
        {% end %}
    </div>


</body>
</html>