
{% extends "base.html" %}

{% block title %}Home{% end %}

{% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <h1>Welcome to on:Study!</h1>
          </div>
      </div>
    </div>

    <div class="open-lessons-jumbotron">
    <div class="container">
        <div class="row mb-3">
            <h2>Open lessons</h2>
        </div>
        {% if len(lessons) > 0 %}
        <div class="row">
            {% for less in lessons %}
            <div class="col-md-4 flex-column align-items-start">
                <img src="/static/img/student-with-notebook.gif" style="height:100px; float:left; margin-right:10px;">

                <!--div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
                    <small>tst</small>
                    <button class="btn">Watch Now!</button>
                </div-->

                <div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
                    <small>{{ less.start_time_in_format() }}</small>
                </div>
                <div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
                    <span class="h4"><a href="/study/lesson/{{ less.id }}">{{ less.name }}</a></span>
                    <small><a class='float-right'> / {{ less._course._owner.name }}</a></small>
                </div>
                <div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
                    <a href="/study/course/{{ less._course.id }}">{{ less._course.name }}</a>
                </div>

                <!--div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">

                    <a href="/study/course/{{ less._course.id }}">{{ less._course.name }}</a>
                    <small><a class='float-right'> / {{ less._course._owner.name }}</a></small>

                </div>

                <p><span class="h4">{{ less.name }}</span> <span class="lead float-right">{{ less.start_time_in_format() }}</span></p>
                <p class="lead"><a href="/study/course/{{ less._course.id }}">{{ less._course.name }}</a> <a class='float-right'> / {{ less._course._owner.name }}</a></p-->
            </div>
            {% end %}
        </div>
        {% else %}
        No open lessons yet.
        {% end %}
    </div>
    </div>

    <hr>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Learn</h2>
          <p>Choose courses that you like, watch lectures, solve tasks. We will tell you a lot of useful. This no one else will tell.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Teach</h2>
          <p>Pass our tests on the teacher and get into our team. It's the possibilities of self-realization, and the work that you like. You can do it at a convenient time and in a convenient place.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Easy</h2>
          <p>Our system is created for you. All for learning. All for study. Here there are tools for online lectures, for self-study of material and passing tests.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
    </div>

    

<script type="text/javascript" src="/static/js/updates.js"></script>

{% end %}
