
{% extends "base.html" %}

{% block title %}Home{% end %}

{% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to on:Study!</h1>
      </div>
    </div>

    <div class="container">
      {% if len(open_lecs) > 0 %}
      <div class="row">
      {% for lec in open_lecs %}
        <div class="col-md-4">
          <h3>{{ lec['title'] }}</h3>
          <p class="lead">{{ lec['course'] }}<a class='float-right'>{{ lec['time'] }} / {{ lec['lector'] }}</a></p>
        </div>
      {% end %}
      </div>
      {% end %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Learn</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Teach</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Easy</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; onStudy 2018</p>
      </footer>
    </div>

<script>
(function(){
    var start_socket = function(after_restart) {
        var host = window.location.hostname;
        var url = "ws://"+host+":8888/ws/update/main/";
        console.log("Соединение с " + url);
        var socket = new WebSocket(url);
        start_socket.socket = socket;

        socket.onopen = function() {
            console.log("Соединение установлено.");
            if (after_restart) {
                location.reload();
            }
            start_socket.check("some check text..."); // FIXME only for display how it works...
        };

        socket.onclose = function(event) {
          if (event.wasClean) {
            console.log('Соединение закрыто чисто');
          } else {
            console.log('Обрыв соединения'); // например, "убит" процесс сервера
          }
          console.log('Код: ' + event.code + ' причина: ' + event.reason);
          console.log('Reconnecting in 1 sec...');
          setTimeout(function(){start_socket(true);}, 1000);
        };

        socket.onmessage = function(event) {
            var d = JSON.parse(event.data);
            console.log("Получены данные " + event.data);
        };

        socket.onerror = function(error) {
            console.log("Ошибка " + error.message);
        };
    };

    start_socket.check = function(text) {
        start_socket.socket.send('{"check":"'+text+'"}');
    }

    start_socket();
})();
</script>

{% end %}
