/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-line-vcentered {
    text-align: center;
    line-height: 50px;
}

.full-height {
    height: 100vh;
    margin: 0; padding: 0;
}

.jumbotron {
    background-color: #b027bc;
    color: #ffffff;
}