{% extends "../base.html" %}

{% block title %}Home{% end %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>See courses that we have:</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6 my-3">
          <h3>Opened courses</h3>
      </div>
      <div class="col-md-6 my-3">
          <h3>Closed courses</h3>
      </div>

      <div class="list-group col-md-6">
        {% if open_c %}
            {% for curs in open_c %}
              {% module CursEntry(curs) %}
            {% end %}
        {% else %}
            <p> NO OPEN COURSES!!!</p>
        {% end %}
      </div>

      <div class="list-group col-md-6">
        {% if closed_c %}
            {% for curs in closed_c %}
              {% module CursEntry(curs, button_title="Register") %}
            {% end %}
        {% else %}
            <p> NO CLOSED COURSES!!!</p>
        {% end %}
      </div>
    </div>
</div>

<br><br><br><br>
{% if open_c %}
<p> Open courses list:</p> <br>
<table style="width:50%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Autor</th>
    <th>State</th>
    <th>Action</th>
  </tr>
    {% for c in open_c %}
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.description}}</td>
    <td>{{ c._owner.name }}</td>
    <td>{{ c.state }}</td>
    <td> <button type="button" class="addStudyOpenBtn" value="{{ c.name }}">Add to study list</button></td>
  </tr>
    {% end %}
</table>
{% else %}
<p> NO OPEN COURSES!!!</p>
{% end %}

<br><br><br><br>

<br><br><br><br>
{% if closed_c %}
<p> Closed courses list:</p> <br>
<table style="width:50%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Autor</th>
    <th>State</th>
    <th>Action</th>
  </tr>
    {% for c in closed_c %}
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.description}}</td>
    <td>{{ c._owner.name }}</td>
    <td>{{ c.state }}</td>
    <td> <button type="button" class="addStudyCloseBtn" value="{{ c.name }}">Register</button></td>
  </tr>
    {% end %}
</table>
{% else %}
<p> NO CLOSED COURSES!!!</p>
{% end %}


<script type="text/javascript" src="/static/js/study_manager/study_find.js"></script>
{% end %}