{% extends "../base.html" %}

{% block title %}Home{% end %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>See courses that we have:</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6 my-3">
          <h3>Opened courses</h3>
      </div>
      <div class="col-md-6 my-3">
          <h3>Closed courses</h3>
      </div>

      <div class="list-group col-md-6">
        {% if open_c %}
            {% for curs in open_c %}
              {% module CursEntry(curs) %}
            {% end %}
        {% else %}
            <p> NO OPEN COURSES!!!</p>
        {% end %}
      </div>

      <div class="list-group col-md-6">
        {% if closed_c %}
            {% for curs in closed_c %}
              {% module CursEntry(curs, button_title="Register") %}
            {% end %}
        {% else %}
            <p> NO CLOSED COURSES!!!</p>
        {% end %}
      </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/study_manager/study_find.js"></script>
{% end %}