{% extends "../base.html" %}

{% block title %}Live lessons{% end %}

{% block content %}

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <h1>Now we have live lessons:</h1>
      </div>
  </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="list-group col-md-8">

        {% for lesson in lessons %}
          {% module LessonEntry(lesson) %}
        {% end %}

      </div>
      <div class="col-md-4">
        FIXME: Here may be some info...
      </div>

    </div>
</div>

{% end %}