{% extends "../base.html" %}

{% block title %}Home{% end %}

{% block content %}

<br><br><br><br>

<table style="width:50%">
  <tr>
    <th>Course Name</th>
    <th>Autor</th>
    <th>Name</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>Duration</th>
    <th>State</th>
    <th>Watch now!</th>
  </tr>
    {% for l in lessons %}
  <tr>
    <td>{{ l._course.name }}</td>
    <td>{{ l._course._owner.name}}</td>
    <td>{{ l.name }}</td>
    <td>{{ l.description }}</td>
    <td>{{ l.start_time }}</td>
    <td>{{ l.duration }}</td>
    <td>{{ l.state }}</td>
    <td> <a href="/stream?stream_key={{ l.stream_key }}">Watch Now!</a></td>
  </tr>
    {% end %}
</table>

{% end %}