{% extends "../base.html" %}

{% block title %}Login{% end %}
{% block nav %}{% end %}

{% block content_class %}full-height{% end %}
{% block content %}

<div class="row full-height align-items-center">
<div class="container">

    <div class="row justify-content-center">

        <div class="panel-heading col-md-6">
            <div class="panel-title text-center">
                <a class="navbar-brand" href="/">
                    <img alt="onStudy" src="/static/img/student.png">
                </a>
                <h1 class="title">Sign in to on:Study</h1>
                <hr />
            </div>
        </div>

    </div>

    <form class="row justify-content-center" method="post" action="login">

        {% module xsrf_form_html() %}

            <div class="col col-md-6 align-self-center">
            {% if msg %}<div class="form-group"><p class="text-center">{{ msg }}</p></div>{% end %}

          <div class="form-group">
              <label for="username">Login</label>
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username"  placeholder="Input your login" required/>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Input your password" required/>
          </div>
          <div class="row">
              <div class="col"><a href="register">Register</a></div>
              <div class="col"><button type="submit" class="btn btn-primary col">Submit</button></div>
          </div>

            </div>

    </form>
</div>
</div>

<!--div class="container">
    <div class="row main col-md-6 col-md-offset-3">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Login</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            {% if msg %}
            <p class="text-center"> {{ msg }}
            </p>
            {% end %}
            <form class="form-horizontal" method="post" action="login">
                {% module xsrf_form_html() %}
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Логин</label>
                    <div class="cols-sm-10 off">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Введите Ваш логин" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Пароль</label>
                    <div class="cols-sm-10 off">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Введите пароль" required/>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="next" value="{{ next }}" />
                <div class="btn-group-sm">

                    <button type="submit" class="btn btn-group-sm btn-primary btn-lg btn-block login-button">Войти</button>
                </div>
            </form>
            <a href="register">Зарегистрироваться</a>
        </div>
    </div>
</div-->

{% end %}