<a href="/study/lesson/{{ lesson.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
    
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ lesson.name }} </h5>
        <small> {{ lesson.duration }} minutes / start at {{ lesson.start_time_in_format() }} / {{ lesson.state }}</small>
    </div>

    <div class="d-flex w-100 justify-content-between align-items-center">
        <span class="mb-1 ">{{ lesson.description }}</span>
        <small>{{ lesson._course.name }}</small>
    </div>

    <div class="d-flex w-100 justify-content-between align-items-end">
        <small>{{ lesson._course._owner.name }}</small>
        <button class="btn">Watch Now!</button>
    </div>

    <!--p> <a href="/stream?stream_key={{ lesson.stream_key }}">Watch Now!</a></p-->
</a>