<div class="col-md-4 flex-column align-items-start">
                
    <img src="/static/img/student-with-notebook.gif" style="height:100px; float:left; margin-right:10px;">

    <div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
        <small>{{ lesson.start_time_in_format() }}</small>
    </div>
    <div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
        <span class="h4"><a href="/study/lesson/{{ lesson.id }}">{{ lesson.name }}</a></span>
        <small><a class='float-right'> / {{ lesson._course._owner.name }}</a></small>
    </div>
    <div class="d-flex w-50 justify-content-between align-items-end" style="margin-left:25%;">
        <a href="/study/course/{{ lesson._course.id }}">{{ lesson._course.name }}</a>
    </div>

</div>