{% extends "../base.html" %}

{% block title %}Add lesson{% end %}

{% block content %}

    <form action="/teach/lesson" method="post" id="addLessonForm" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
        <label>Name: </label><input type="text" name="lessonName" required /><br>
        <label>Description:</label><br><textarea rows="4" cols="50" name="lessonDescription" required> Enter description </textarea><br>
        <label>Start time: </label><input type="datetime-local" name="lessonStartTime" required /><br>
        <label>Duration(minutes): </label><input type="number" min="0" name="lessonDuration" required /><br>
        <label>Materials: </label><input type="file" name="lessonMaterials" multiple /><br>

            <!--<label>Home Work: </label><input id="isHomeWork" name="isHomeWork" type="checkbox" onchange="showHomeWorkInput()"><br>-->
            <!--<label hidden class="HWDescr"> Home Work Description </label><br><textarea rows="4" cols="50" class="HWDescr" name="homeWorkDescr" hidden> </textarea><br>-->
        <input type="hidden" id="addLessonCursename" name="lessonCursename" value="{{ course.name }}">
        <input type="hidden" name="action" value="add">
        <input type="submit" value="Add" class="btn btn-default"/>
    </form>


{% end %}