{% extends "../base.html" %}

{% block title %}Home{% end %}

{% block content %}


<br><br><br>
Name: {{ course.name}}<br>
Description: {{ course.description }}<br>
Mode: {{ course.mode }}<br>
State: {{ course.state }}<br>
Right: {% if user.id == course.owner %} You are owner {% else %} {{ course_access.access }} {% end %}
<br>
{% if course_access.access == course_access.MODERATE %}
    <br>Invite lectors url: <a id="inviteUrlLector" href="/teach/register?key={{ course.invite_lector_url }}"></a>
    <script type="text/javascript">
    window.onload = function(){
        document.getElementById("inviteUrlLector").innerHTML = document.getElementById("inviteUrlLector").href;
    }
    </script>

    {% if course.mode == course.PRIVATE %}

    <br>Invite listeners url: <a id="inviteUrlListener" href="/study/register/{{ course.invite_url }}"></a>
    <script type="text/javascript">
    window.onload = function(){
        document.getElementById("inviteUrlListener").innerHTML = document.getElementById("inviteUrlListener").href;
    }
    </script>
    {% end %}
{% end %}

<br><br>

    {% if course._lesson %}
        Lessons: <br><br>
        {% for l in course._lesson %}
        <table style="width:70%">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Time:</th>
            <th>Duration</th>
            <th>Stream key</th>
            <th>State</th>
          </tr>

          <tr>
            {% if lesson_access[l.id].access != lesson_access[l.id].VIEW %}
                <td><a href="/teach/lesson?lesson={{ l.id }}">{{ l.name }}</a></td>
            {% else %}
                <td>{{ l.name }}</td>
            {% end %}
            <td>{{ l.description }}</td>
            <td>{{ l.start_time}}</td>
            <td>{{ l.duration }}</td>
            {% if lesson_access[l.id].access != lesson_access[l.id].VIEW %}
                <td>{{ l.stream_key}}?pphrs={{ l.stream_pw }}</td>
            {% else %}
                <td>{{ l.stream_key}}</td>
            {% end %}
            <td>{{ l.state }}</td>
          </tr>
        </table>
        <br><br><br>
        {% end %}
    {% else %}
        <p> No lessons!!</p>
    {% end %}

{% if course_access.access == course_access.MODERATE %}
<button onclick="window.location.href='/teach/rights?course={{ course.id }}'"> Manage rights</button>
{% end %}
{% if course_access.access == course_access.MODERATE %}
    <br><br>
    <button type="button" id="addLesson">Add lesson</button>
    <br><br>
        {% if course.state == 'Created' %}
            <button type="button" id="courseAction" value="Published">Publish </button>
        {% else %}
            <button type="button" id="courseAction" value="Interrupted">Cancel Course</button>
            {% if course.mode == course.PRIVATE %}
                <br><br><button type="button" id="inviteAction" value="InviteMember">Invite Friend</button>
            {% end %}
        {% end %}

    <br><br>
{% end %}

{% if course.mode != course.OPEN %}
    {% if course._course_member %}
        <p> Registred members: </p>
        <ul>
          {% for m in course._course_member %}
            <li> {{ m._member.name }} </li>
          {% end %}
        </ul>
    {% else %}
        <p> No one registred no your course yet!</p>
    {% end %}
{% end %}

<br><br>

<div class="modal fade" id="addLessonModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Adding Lesson</h4>
    </div>
    <div class="modal-body">
        <form action="/teach/lesson" method="post" id="addLessonForm" >
            {% module xsrf_form_html() %}
            <label>Name: </label><input type="text" id="addLessonName" required /><br>
            <label>Description:</label><br><textarea rows="4" cols="50" id="addLessonDescription" required> Enter description </textarea><br>
            <label>Start time: </label><input type="datetime-local" id="addLessonStartTime" required /><br>
            <label>Duration(minutes): </label><input type="number" min="0" id="addLessonDuration" required /><br>
            <input type="hidden" id="addLessonCurseid" value="{{ course.id }}">
            <input type="submit" value="Add" class="btn btn-default"/>
        </form>
    </div>
</div>
</div>
</div><!--End of Modal-->

<script type="text/javascript" src="/static/js/course_manager/course_manage.js"></script>
<script type="text/javascript" src="/static/js/course_manager/lesson_manage.js"></script>
<script>
    function showHomeWorkInput(){
        var cBox = document.getElementById("isHomeWork");
        var hiddenElems = document.getElementsByClassName("HWDescr");
        hiddenElems[0].hidden = false;
        hiddenElems[1].hidden = true;
        if (cBox.checked ) {
            hiddenElems[0].hidden = false;
            hiddenElems[1].hidden = false;
        } else {
            hiddenElems[0].hidden = true;
            hiddenElems[1].hidden = true;
        }
    }
</script>
{% end %}