{% extends "../base.html" %}

{% block title %}Home{% end %}

{% block content %}


<br><br><br>
Name: {{ course.name}}<br>
Description: {{ course.description }}<br>
Mode: {{ course.mode }}<br>
State: {{ course.state }}<br>
{% if course.mode == course.PRIVATE %}
<br>Invite url:<a id="inviteUrl" href="/study/register/{{ course.invite_url }}"></a>
<script type="text/javascript">
window.onload = function(){
    document.getElementById("inviteUrl").innerHTML = " " + document.URL + "{{ course.invite_url }}";
}
</script>
{% end %}

<br><br>

    {% if lessons %}
        Lessons: <br><br>
        {% for l in lessons %}
        <table style="width:70%">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Time:</th>
            <th>Duration</th>
            <th>Stream key</th>
            <th>State</th>
            <th>Action</th>
          </tr>

          <tr>
            <td>{{ l.name }}</td>
            <td>{{ l.description }}</td>
            <td>{{ l.start_time}}</td>
            <td>{{ l.duration }}</td>
            <td>{{ l.stream_key}}?pphrs={{ l.stream_pw }}</td>
            <td>{{ l.state }}</td>
            {% if l.state == 'Waiting' %}
                <td> <button type="button" class="removeBtn" value="{{ l.name }}">remove</button> </td>
            {% else %}
                <td> No action</td>
            {% end %}
          </tr>
        </table>
        {% for material in l._lesson_material %}
            <a href="/media/material/{{ material.real_name }}">{{ material.pretty_name}}</a> <br>
        {% end %}
            {% if l._home_work %}
                <p>Home Work Description: {{ l._home_work[0].description }}</p>
            {% end %}
        <br><br><br>
        {% end %}
    {% else %}
        <p> No lessons!!</p>
    {% end %}

<br><br>
<button type="button" id="addLesson">Add lesson</button>

<br><br>
    {% if course.state == 'Created' %}
        <button type="button" id="courseAction" value="Published">Publish </button>
    {% else %}
        <button type="button" id="courseAction" value="Interrupted">Cancel Course</button>
        {% if course.mode == course.PRIVATE %}
            <br><br><button type="button" id="inviteAction" value="InviteMember">Invite Friend</button>
        {% end %}
    {% end %}

<br><br>

{% if course.mode != course.OPEN %}
    {% if members %}
        <p> Registred members: </p>
        <ul>
          {% for m in members %}
            <li> {{ m }} </li>
          {% end %}
        </ul>
    {% else %}
        <p> No one registred no your course yet!</p>
    {% end %}
{% end %}

<br><br>

<div class="modal fade" id="addLessonModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Adding Lesson</h4>
    </div>
    <div class="modal-body">
        <form action="/teach/lesson" method="post" id="addLessonForm" enctype="multipart/form-data">
            {% module xsrf_form_html() %}
            <label>Name: </label><input type="text" id="addLessonName" required /><br>
            <label>Description:</label><br><textarea rows="4" cols="50" id="addLessonDescription" required> Enter description </textarea><br>
            <label>Start time: </label><input type="datetime-local" id="addLessonStartTime" required /><br>
            <label>Duration(minutes): </label><input type="number" min="0" id="addLessonDuration" required /><br>
            <input type="hidden" id="addLessonCursename" value="{{ course.name }}">
            <input type="submit" value="Add" class="btn btn-default"/>
        </form>
    </div>
</div>
</div>
</div><!--End of Modal-->

<script type="text/javascript" src="/static/js/course_manager/course_manage.js"></script>
<script type="text/javascript" src="/static/js/course_manager/lesson_manage.js"></script>
<script>
    function showHomeWorkInput(){
        var cBox = document.getElementById("isHomeWork");
        var hiddenElems = document.getElementsByClassName("HWDescr");
        hiddenElems[0].hidden = false;
        hiddenElems[1].hidden = true;
        if (cBox.checked ) {
            hiddenElems[0].hidden = false;
            hiddenElems[1].hidden = false;
        } else {
            hiddenElems[0].hidden = true;
            hiddenElems[1].hidden = true;
        }
    }
</script>
{% end %}